<div class="container">
        <div class="row">
          <div class="col-xl-auto mr-xl-5 col-md-3 mb-4 mb-md-0">
            <h5>COMPANY</h5>
            <ul class="nav flex-row flex-md-column">
              <li class="nav-item mr-3 mr-md-0">
                <a href="about.html" class="nav-link fade-page px-0 py-2">About Us</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="blog.html" class="nav-link fade-page px-0 py-2">Blogs</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="contact.html" class="nav-link fade-page px-0 py-2">Contact Us</a>
              </li>
            
            </ul>
          </div>
          <div class="col-xl-auto mr-xl-5 col-md-3">
            <h5>PRODUCTS</h5>
            <ul class="nav flex-row flex-md-column">
              <li class="nav-item mr-3 mr-md-0">
                <a href="https://testlifecycle.com/" class="nav-link fade-page px-0 py-2">TITAN</a>
              </li>
              <!--<li class="nav-item mr-3 mr-md-0">
                <a href="blog-listing-1.html" class="nav-link fade-page px-0 py-2">SPARTAN SHIPMENT</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="help-center-home.html" class="nav-link fade-page px-0 py-2">SPARTAN EYECARE</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="careers-1.html" class="nav-link fade-page px-0 py-2">SPARTAN NEO ERP</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="case-studies.html" class="nav-link fade-page px-0 py-2">SPARTANS YMS</a>
              </li>-->
              <li class="nav-item mr-3 mr-md-0">
                <a href="whsvmtix.html" class="nav-link fade-page px-0 py-2">WHS - VMTIX</a>
              </li>
            </ul>
          </div>
          <div class="col-lg mt-2 mt-md-5 mt-lg-0 order-lg-3 order-xl-3">
         <h5>SERVICES</h5>
            <ul class="nav flex-row flex-md-column">
              <li class="nav-item mr-3 mr-md-0">
                <a href="rfid.html" class="nav-link fade-page px-0 py-2">RFID</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="rpa.html" class="nav-link fade-page px-0 py-2">RPA</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="qualityengineering.html" class="nav-link fade-page px-0 py-2">Quality Engineering</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="cloudservices.html" class="nav-link fade-page px-0 py-2">Cloud Services</a>
              </li>
              <!-- <li class="nav-item mr-3 mr-md-0">
                <a href="Enterprisesoftwaredev.html" class="nav-link fade-page px-0 py-2">Enterprise Software Development </a>
              </li> -->
              <li class="nav-item mr-3 mr-md-0">
                <a href="IoT.html" class="nav-link fade-page px-0 py-2">IoT Services</a>
              </li>
             <!--  <li class="nav-item mr-3 mr-md-0">
                <a href="teamextension.html" class="nav-link fade-page px-0 py-2">Team Extension</a>
              </li>-->
            </ul>
            </div>
          <div class="col mt-4 mt-md-0 mt-lg-5 mt-xl-0 order-lg-4 order-xl-4">
            <h5>Blog</h5>
            <ul class="list-unstyled d-flex flex-wrap">
              <li class="col-12 col-lg-6 col-xl-12 px-0">
                <div class="row my-2 my-md-3">
                  <a class="col-5" href="blog.html">
                    <img class="rounded img-fluid hover-fade-out" src="assets/img/blog/thumb-2.jpg" alt="blog.1.image">
                  </a>
                  <div class="col">
                    <a class="h6" href="blog.html">12TH WONDER AT THE AUTOMOBILE EXPO 2018</a>
                    <div class="text-small text-muted mt-2">October 10th</div>
                  </div>
                </div>
              </li>
              <li class="col-12 col-lg-6 col-xl-12 px-0">
                <div class="row my-2 my-md-3">
                  <a class="col-5" href="blog.html">
                    <img class="rounded img-fluid hover-fade-out" src="assets/img/blog/thumb-1.jpg" alt="blog.2.image">
                  </a>
                  <div class="col">
                    <a class="h6" href="blog.html">12th Wonder Partners With Impinj</a>
                    <div class="text-small text-muted mt-2">October 2nd</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          
          
        </div>
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>
        <div class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
          <div class="col-auto">
            <div class="d-flex flex-column flex-sm-row align-items-center text-small">
              <div class="text-muted">&copy; 2019 12th Wonder. All rights Reserverd. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="privacy.html">Privacy Policy</a>
              </div>
            </div>
          </div>
          <div class="col-auto mt-3 mt-lg-0">
            <ul class="list-unstyled d-flex mb-0">
              
              <li class="mx-3">
                <a href="https://www.facebook.com/wonder.12th/" class="hover-fade-out">
                  <img src="assets/img/icons/social/facebook.svg" alt="Facebook" class="icon icon-xs bg-white" data-inject-svg>
                </a>
              </li>
              <li class="mx-3">
                <a href="https://www.linkedin.com/company/12thwonder/" class="hover-fade-out">
                  <img src="assets/img/icons/social/linkedin.svg" alt="Linked IN" class="icon icon-xs bg-white" data-inject-svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>