<nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
  <div class="container">
    <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="index.html">
      <img alt="12thwonder" style="width: 59%;" src="assets/img/logos/12th-wonder-logo_white.png">

    </a>
    <div class="d-flex align-items-center order-lg-3">

      <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse"
        data-toggle="collapse" type="button">
        <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
          src="assets/img/icons/interface/icon-menu.svg">
        <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
          src="assets/img/icons/interface/icon-x.svg">
      </button>
    </div>
    <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
      <ul class="navbar-nav my-3 my-lg-0">
        <li class="nav-item"><a aria-expanded="false" class="nav-link nav-item" href="index.html" role="button">Home</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom"
              data-toggle="dropdown-grid" href="product.html" role="button">Products</a>
            <div class="row dropdown-menu">
              <div class="col-auto" data-dropdown-content>
                <div class="dropdown-grid-menu">
                  <a href="https://testlifecycle.com/" class="dropdown-item fade-page">TITAN</a>
                  <!-- <a href="contact.html" class="dropdown-item fade-page">SPARTAN NEO ERP</a>
                       <a href="contact.html" class="dropdown-item fade-page">SPARTAN SHIPMENT</a>              
                       <a href="#" class="dropdown-item fade-page">SPARTANS YMS</a>
                       <a href="contact.html" class="dropdown-item fade-page">SPARTAN EYECARE</a> -->
                  <a href="whsvmtix.html" class="dropdown-item fade-page">WHS - VMTIX</a>
                  <a href="product.html" class="dropdown-item fade-page">VIEW ALL PRODUCTS</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom"
              data-toggle="dropdown-grid" href="service.html" role="button">Services</a>
            <div class="row dropdown-menu">
              <div class="col-auto" data-dropdown-content>
                <div class="dropdown-grid-menu">
                  <a href="rfid.html" class="dropdown-item fade-page">RFID Solution</a>
                  <a href="rpa.html" class="dropdown-item fade-page">RPA</a>
                  <a href="qualityengineering.html" class="dropdown-item fade-page">Quality Engineering</a>

                  <a href="cloudservices.html" class="dropdown-item fade-page">Cloud Services</a>
                  <!-- <a href="Enterprisesoftwaredev.html" class="dropdown-item fade-page">Enterprise Software Development -->
                  </a>
                  <a href="IoT.html" class="dropdown-item fade-page">IoT Services</a>
                <!--  <a href="teamextension.html" class="dropdown-item fade-page">Team Extension</a> -->
                  <!-- <a href="service.html" class="dropdown-item fade-page">View All Services</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item"><a aria-expanded="true" class="nav-link nav-item" href="about.html" role="button">About</a>
        </li>
        <li class="nav-item"><a aria-expanded="true" class="nav-link nav-item" href="career.html"
            role="button">Career</a></li>
        <li class="nav-item"><a aria-expanded="false" class="nav-link nav-item" href="contact.html"
            role="button">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>